@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
	position: relative;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #fdf6e3;
	color: #586e75;
	font-family: monospace;
}

td, th {
    padding: 10px;
	text-align: center;
	border: 1px solid rgba(112, 128, 144, 0.24);
}